*{
	font-weight: 300;
		a {
			color: white;
		text-decoration: none;
	}
}

ul,li {
	list-style: none;
	padding: 0;
}

body{
	// font-family: 'Source Sans Pro', sans-serif;
	font-family: 'Merriweather', serif;
	color: white;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

.app-container {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
	width: 100%;
  overflow: hidden;
}

.main-container {
	min-height: 650px;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row;
}

.main-container > .primary-container {
	margin: 4px;
  padding: 5px;
  border: 1px solid #cccc33;
  border-radius: 7pt;
  background: #dddd88;
  flex: 3 1 60%;
  order: 2;
}

.main-container > .sidebar-1 {
	margin: 4px;
	 padding: 5px;
	 border: 1px solid #8888bb;
	 border-radius: 7pt;
	 background: #ccccff;
	 flex: 1 6 20%;
	 order: 1;
}

.main-container > aside {
	margin: 4px;
	padding: 5px;
	border: 1px solid #8888bb;
	border-radius: 7pt;
	background: #ccccff;
	flex: 1 6 20%;
	order: 3;

}

.main {
    overflow: scroll;
  h2 {
    font-size: 2rem;
    margin: 1rem;
  }
}

.secondary-container {
	text-align: left;
}

.button {
	outline: 0;
  background-color: white;
  border: 0;
  padding: .5rem 1.5rem;
  color: #50a3a2;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
  margin-bottom: 1rem;

  &:hover{
    background-color: rgb(245, 247, 249);
  }
}

@media all and (max-width: 650px) {
			 .main-container{
					 flex-direction: column;
			 }

			 .main-container > .primary-container, .main-container > .sidebar-1, .main-container > aside {
			 /* Return them to document order */
					 order: 0;
			 }

			 .main-container > .sidebar-1, .main-container > aside, header {
					 min-height: 50px;
					 max-height: 50px;
			 }
	 }
@media (min-width: 650px) {
	.main-container{
		height: 650px;
	}
}
