.image-upload-container {
  text-align: center;
  margin: 7rem auto;
}

#dropzone {
  margin: 2rem auto;
}

.upload-file-container{
  font-size: 1.5rem;
  margin: 1rem 0;
}

.dropzone-file-icon {
  margin: 1rem 0;
  vertical-align: middle;
  display: inline-block;
  font-size: 2rem;
}
