.client-list-container {
    margin-top: 4rem;
    text-align: center;
}
.client-form-title {
  margin-left: 1rem;
}

.add-new-client {
    margin-left: 0.5rem;
}

.client-input {
  display: inline-block;
  padding: 0.5rem;
  outline: 0;
  border: 1px solid white;
  color: #50a3a2;
  border-radius: 3px;
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.25s;
  font-weight: 300;
  width: 52%;
}

.create-button {
    padding: 0.4rem 1.7rem;
    margin-left: .5rem;
    font-size: 20px;
}

.client-list {
    margin: 3rem 0;
}

.folder-icon {
  font-size: 2rem;
  vertical-align: middle;
}

.client-container {
  margin: 1rem 2rem;
  border-bottom: 1px solid white;
  padding-bottom: 1rem;
}

.client-name {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    font-size: 2.0rem;
    margin: 0 1rem;
}

.client-name:hover {
    color: blue;
}

.delete-client-button {
    margin: 0;
    vertical-align: middle;
    padding: 0.5rem 1rem;
}


@media(min-width:600px) {
  .client-input {
    width: 30%;
  }

}

@media(min-width: 800px) {

  .client-list-container {
    text-align: left;
  }

  .delete-client-button {
    float: right;
  }
}
