.client-list-container {
    margin-top: 4rem;
    text-align: center;
}
.client-form-title {
  margin-left: 1rem;
}

.add-new-client {
    margin-left: 0.5rem;
}

.client-input {
  display: inline-block;
  padding: 0.5rem;
  outline: 0;
  border: 1px solid white;
  color: #50a3a2;
  border-radius: 3px;
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.25s;
  font-weight: 300;
  width: 52%;
}

.create-button {
    padding: 0.4rem 1.7rem;
    margin-left: .5rem;
    font-size: 20px;
}

.client-list {
    margin: 1rem 0;
}

.client-container {
  width: 88%;
  margin: 1rem auto;
  border-bottom: 1px solid white;
}

.folder-link {
  vertical-align: middle;
  margin-left: .5rem;
  font-size: 1.5rem;
  display: inline-block;
    h4 {
      display:inline-block;
      font-size: 1.2rem;
      margin: 1rem 0 1rem 1rem;
    }
}

.folder-icon {
  margin: 1rem 0;
  display: inline-block;
}

.client-name:hover {
    color: blue;
}

.delete-client-button {
    margin: 0;
    vertical-align: middle;
    padding: 0.5rem 1rem;
}

.file-link:visited {
  color: white;
}


@media(min-width:600px) {
  .client-input {
    width: 30%;
  }

}

@media(min-width: 800px) {

  .client-list-container {
    text-align: left;
  }

  .delete-client-button {
    float: right;
  }
}
