.title-add-container {
  margin: 5rem 0;
}

.client-page-name {
    font-size: 2rem;
    margin-left: 1rem;
}

.clients-files-container {
  h2 {
    font-size: 2rem;
  }
}
.client-files-container {
  margin-top: 4rem;
  padding: 0;
  text-align: center;

}


.client-file {
    margin: 1rem auto;
    border-bottom: 1px solid white;
}

.file-icon {
    margin: 1rem 0;
    font-size: 2rem;
    display: inline-block;
}

.file-link {
  vertical-align: middle;
  margin-left: .5rem;
    font-size: 1.5rem;
    display: inline-block;
}

.file-link:hover {
    color: blue;
}

.delete-file-button {
  top: 3.7rem;
  padding: 0;
  background: transparent;
  color: white;
  margin-left: 1rem;

}

@media(min-width:800px) {

  .title-add-container {
    margin: 5rem 0 1rem 0;
  }

  .client-files-container {
        margin-top: 1rem;
  }

  .client-file-container {
    text-align: left;
  }

  .file-icon {
    display: inline-block;
    font-size: 2rem;
    margin-right: 1rem;
  }

  .file-name-container {
    display: inline-block;
  }

  .file-link {
    margin-left: 2rem;
  }

  .delete-file-button {
    margin-left: 1rem;
    top: 0.4rem;
  }
}
