.navSideBar-links-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2.5rem;
}

.nav-client-folder {
background-color: $primary-yellow;;
text-align: center;
padding: 1rem;
border: 1px solid black;
color: white;
margin: 2rem 1rem;
.nav-client-folder-link {
  color: $primary-logo-darkblue;
  }
}

.nav-client-folder:hover{
  background-color: $primary-logo-darkblue;
    .nav-client-folder-link {
        color: $primary-yellow;
      }
}

.navSideBar-folders-container {
  text-align: center;
}


@media (min-width: 649px) {
  .navSideBar-links-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0rem 0.5rem;
    margin: 0;

  }

  .navSideBar-links {
    font-size: 1.5rem;
    margin: 1rem 0rem;
  }
}
